@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

h1{
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: black;
    background-color: white;
    box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.52);
}
.form_style{
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 6px 4px rgba(0,0,0,0.54);
    width: 400px;
    height: 600px;
    margin: auto;
}
.text_input{
    border-radius: 4px;
    padding: 4px;
    border: solid black 1px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.25),
                0 2px 2px rgba(0,0,0,0.20);
}
.btn_style{
    padding: 5px;
    background-color: #f5f5f5;
    max-width: 5em;
    margin-left: 20em;
    margin-top: 5em;
}

.Fmain{
    display: flex;
    flex-direction: column;
    text-align: center;

    margin-top: 7em;
}

.FN .LN{
    display: block;
}

.email .PW{
    display: block;
}

.FN{
    margin-bottom: .5em;
}

.LN{
    margin-bottom: 1em;
    margin-left: .2em;
}

.racetype{
    margin-bottom: 1em;

}

.email{
    margin-bottom: .5em;
    margin-left: 2em;
}

.PW{
    margin-bottom: 1em;

}
