@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.form_style{
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 6px 4px rgba(0,0,0,0.54);
    width: 400px;
    height: 600px;
    margin: auto;
}

.btn_style{
    font-family: 'Open Sans', sans-serif;
    padding: 5px;
    background-color: #f5f5f5;
}

/*.info{*/
/*    margin: 3em;*/

/*}*/

/*.racetype{*/
/*    margin-left: 7em;*/
/*    margin-bottom: 1em;*/
/*}*/

/*p{*/
/*    margin-left: 7em;*/
/*    margin-bottom: 1em;*/
/*}*/

/*.division{*/
/*    margin-left: 5em;*/
/*    margin-bottom: 1em;*/
/*}*/

.Fmain{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.FN .LN{
    display: block;
}

.email .PW{
    display: block;
}